  
  <link rel="stylesheet" href="/stylesheets/tritable.css" />
  <link rel="stylesheet" href="/stylesheets/listtable.css" />
  <link rel="stylesheet" href="/stylesheets/sidebar.css" />
  <link rel="stylesheet" href="/stylesheets/default.css" />
</head>
<body>
<div class="s-layout">

  <!-- Sidebar -->
  <div class="s-layout__sidebar">
    <a class="s-sidebar__trigger" href="#0">
      <i class="fa fa-bars"></i>
    </a>

    <nav class="s-sidebar__nav">
      <ul>
          <li> 
            <a class="s-sidebar__nav-link">
                <i class="fa fa-user"></i><em><%= @user.email %></em>
            </a>
          </li>
          <li>
            <a class="s-sidebar__nav-link" href="/days/today">
                <i class="fa fa-clock-o"></i><em>Today</em>
            </a>
          </li>
          <li>
            <a class="s-sidebar__nav-link" href="/days">
              <i class="fa fa-calendar"></i><em>Previous Days</em>
            </a>
          </li>
          <li>
            <a class="s-sidebar__nav-link" href="/logout">
                <i class="fa fa-sign-out"></i><em>Logout</em>
            </a>
          </li>
      </ul>
    </nav>
  </div>

  <!-- Right Side -->
  <main class="s-layout__content">
    <div class="container">

      <!-- Tritable Section-->
      <section class="pricing-table">
          <div class="container">
              <div class="block-heading">
                <% if @day.date == Date.today%>
                  <h1>Today's Summary</h1> 
                <% else %>
                  <h1>Summary for: <%= @day.date %></h1>
                <% end %>
              </div>
              <div class="row justify-content-md-center">

                  <div class="col-md-5 col-lg-4">
                      <div class="item">
                          <div class="heading">
                              <h3>PROTEIN</h3>
                          </div>
                          <div class="price">
                              <h4><%= @day.protein %>g</h4>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-5 col-lg-4">
                      <div class="item">
                          <div class="heading">
                              <h3>CARBS</h3>
                          </div>
                          <div class="price">
                              <h4><%= @day.carbs %>g</h4>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-5 col-lg-4">
                      <div class="item">
                          <div class="heading">
                              <h3>FATS</h3>
                          </div>
                          <div class="price">
                              <h4><%= @day.fat %>g</h4>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row justify-content-md-center">
                  <div>
                      <div class="item">
                          <div class="heading">
                              <h3>CALORIES</h3>
                          </div>
                          <div class="price">
                              <h4><%= @day.calories %> kcal</h4>
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>
      </section>
      
      <!-- Food Table Section-->
      <div class="row">
        <div class="col-md-12"> 
          <h2>Foods for This Day
          <a href="/days/<%= @day.id %>/edit">  
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
              <thead>
                <th>Food</th>
                <th>Calories</th>
                <th>Protein</th>
                <th>Carbs</th>
                <th>Fat</th>
                <th></th>
                <th>
                  <p data-placement="top" data-toggle="tooltip" title="Add a Food">
                    <a href="/days/create" class="btn btn-success btn-xs" role="button">
                      <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </p>
                </th>
              </thead>
              <tbody>
                <% @day.foods.each do |f| %>
                  <tr>
                    <td><%= f.name %></td>
                    <td><%= f.calories %></td>
                    <td><%= f.protein %></td>
                    <td><%= f.carbs %></td>
                    <td><%= f.fat %></td>
                    <td>
                      <p data-placement="top" data-toggle="tooltip" title="Edit">
                        <a href="/days/today" class="btn btn-primary btn-xs" role="button">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                      </p>
                    </td>
                    <td>
                      <p data-placement="top" data-toggle="tooltip" title="Delete">
                        <a href="/days/today" class="btn btn-danger btn-xs" role="button">
                          <span class="glyphicon glyphicon-trash"></span>
                        </a>
                      </p>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<!--<a href="/days/<%= @day.id %>/edit">Add Food</a>-->
