Welcome, <%= @user.email %>!<br>
Today: <%= @day.date %><br>
Calories: <%= @day.calories %><br>
Protein: <%= @day.protein %><br>
Carbs: <%= @day.carbs %><br>
Fat: <%= @day.fat %><br>
<br><br>
<a href="/days/#{@day.id}/edit">Add Food</a>
<br>
<a href="/days">Previous Days</a>
