<link rel="stylesheet" href="/stylesheets/sidebar.css" />
<link rel="stylesheet" href="/stylesheets/listtable.css" />
<link rel="stylesheet" href="/stylesheets/default.css" />
<div class="s-layout">
<!-- Sidebar -->
<div class="s-layout__sidebar">
  <a class="s-sidebar__trigger" href="#0">
     <i class="fa fa-bars"></i>
  </a>

  <nav class="s-sidebar__nav">
     <ul>
        <li>
           <a class="s-sidebar__nav-link">
              <i class="fa fa-user"></i><em><%= @user.email %></em>
           </a>
        </li>
        <li>
           <a class="s-sidebar__nav-link" href="/days/today">
              <i class="fa fa-clock-o"></i><em>Today</em>
           </a>
        </li>
        <li>
           <a class="s-sidebar__nav-link" href="/days">
             <i class="fa fa-calendar"></i><em>Previous Days</em>
           </a>
        </li>
        <li>
           <a class="s-sidebar__nav-link" href="#0">
              <i class="fa fa-cutlery"></i><em>Foods</em>
           </a>
        </li>
        <li>
            <a class="s-sidebar__nav-link" href="/logout">
                <i class="fa fa-sign-out"></i><em>Logout</em>
            </a>
        </li>
     </ul>
  </nav>
</div>

<!-- Content -->
<main class="s-layout__content">


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Your Collection of Foods</h2>
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Name</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fat</th>
          </thead>
          <tbody>
            <% @foods.each do |f| %>
              <tr>
                <td><a href="/foods/<%= f.id %>"><%= f.name %></a></td>
                <td><%= f.calories %></td>
                <td><%= f.protein %></td>
                <td><%= f.carbs %></td>
                <td><%= f.fat %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</main>
</div>